extends ../layouts/common

block content
  h1 Update User

  if error
    .alert.alert-danger= error
  form(action="/users/" + id + "/update", method="POST")
    div
      label New Name
      span &nbsp;
      input(type="text", name="newName")
      
    button Update